 <section class="container">
        <div>
            <form class="form form-control my-4" enctype="multipart/form-data"  action="/student" method="POST">
            
                <div>
                    <label for="name">NAME OF STUDENT</label>
                    <input type="text" class="form-control" name="fullname"  placeholder="Enter your file name" id="fullname">
                </div>
                <div>
                    <label for="mat">MAT NUMBER</label>
                    <input type="text" class="form-control mat" name="matriculation"  placeholder="Enter your matriculation number"  id="mat">
                </div>
                <div>
                    <label for="mat">PROGRAM</label>
                    <select class="form-control morneven" name="morneven" id="program">
                        <option value="MORNING">MORNING</option>
                        <option value="EVENING">EVENING</option>
                      </select>
                </div>
                <div>
                    <label for="mat">LEVEL</label>
                    <select class="form-control level" name="level" id="level">
                        <option value="HND2">HND2</option>
                        <option value="HND1">HND1</option>
                        <option value="ND2">ND2</option>
                        <option value="ND1">ND1</option>
                      </select>
                </div>
                <div class="my-2">
                    <label for="file">FILE</label>
                    <input type="file" class="form-control file" accept="application/pdf" name="avater"   id="file">
                </div>
                <button type="submit" class="form-control btn-primary btn btns">Click To Submit</button>
            </form>



   

           

        </div>

    
    </section>
    