 <section class="container">
        <div>
            <form class="form form-control my-4" action="/student" method="POST">
            
                <div>
                    <label for="name">NAME OF STUDENT</label>
                    <input type="text" class="form-control" name="fullname"  placeholder="Enter your file name" id="fullname">
                </div>
                <div>
                    <label for="mat">JAMBREG NUMBER</label>
                    <input type="text" class="form-control mat" name="matriculation"  placeholder="Enter your matriculation number"  id="mat">
                </div>
                 <div>
                    <label for="name">COMPLIANCE</label>
                    <textarea type="text" class="form-control" name="compfield"  placeholder="Enter your file name" id="fullname"></textarea>
                </div>

              
                <button type="submit" class="form-control btn-primary btn btns">Click To Submit</button>
            </form>



   

           

        </div>
      

    
    </section>
    