{{> SideBar}}

	<!-- NAVBAR -->
	<section id="content">
		<!-- NAVBAR -->
{{> Nav}}
		<!-- NAVBAR -->

		
		<!-- MAIN -->
		<main>
	
		{{> editsubmain}}

         {{!-- EDIT THE HOME PAGE WRITE UP --}}
        <section class="container">
        <div >
            <form class="form form-control my-2" action="/admin/homepagemessage" method="POST">
            
                <div>
                    <label for="name">HOME PAGE MESSAGE</label>
                    <input type="text" class="form-control" name="homepagemessage"  placeholder="Enter your file name" id="fullname">
                </div>
                <button type="submit" class="form-control btn-primary btn btns">Click To Submit</button>
            </form>
            <form class="form form-control my-2 " action="/admin/homepagemessagedelete" method="POST">
             <button type="submit" class="form-control my- btn-danger btn btns">Delete</button>
             </form>
        </div>
    </section>
    {{!-- HOME PAGE IMAGE --}}
        <section class="container">
        <div >
            <form class="form form-control my-4" enctype="multipart/form-data" action="/admin/homepageimage" method="POST">
            
                <div>
                    <label for="name">HOME PAGE IMAGE</label>
                    <input type="file" class="form-control" name="homepageimage"  placeholder="Enter your file name" id="fullname">
                </div>
                <button type="submit" class="form-control btn-primary btn btns">Click To Submit</button>
            </form>
            <form class="form form-control " action="/admin/homeimagedelete" method="POST">
             <button type="submit" class="form-control my- btn-danger btn btns">Delete</button>
             </form>
        </div>
    </section>
     
    {{!-- MATRICULATION NUMBER --}}
        <section class="container">
        <div >
            <form class="form form-control my-4" action="/admin/matriculation" method="POST">
            
                <div>
                    <label for="name">MATRICULATION</label>
                    <input type="text" class="form-control" name="matriculation1"  placeholder="Enter your file name" id="fullname">
                </div>
                <button type="submit" class="form-control btn-primary btn btns">Click To Submit</button>
            </form>
        </div>
    </section>


		</main>
		<!-- MAIN -->
	</section>
	<!-- NAVBAR -->
