<section>
<form action="/admin/login" class=" mt-4 form form-control " method="POST">
<div class="col col-md-12">
<label for="userName" style="text-transform:uppercase" class="form-lebel">Email or username</label>
<input type="text" name="email" class="form-control">
</div>
<div class="col col-md-12">
<label for="password" style="text-transform:uppercase"  class="form-lebel">password</label>
<input type="password" name="password1" class="form-control">
</div>
<div class="col col-md-12">
<label for="password" style="text-transform:uppercase"  class="form-lebel">VALIDATION CODE</label>
<input type="password" name="password1" class="form-control">
</div>

<div class="col-md-12">
    <button type="submit" style="text-transform:uppercase" class="btn form-control mt-4 btn-primary">Sign in</button>
  </div>

</form>
</section>