<section class="bg-dark text-white " style="margin-bottom:0%">
  <footer class="d-flex container" style="padding:30px; align-items:center; flex-wrap:wrap; justify-content:space-around;font-size:21px;">
    {{!-- first columb --}}
    <div>
<ul>
    <li>
<a href="https://web.facebook.com/eferurhobo.voke" target="_blank"> <span>facebook</span><span>"  <i class="bi bi-facebook " style="background-color:blue;color:white"></i></span></a>
    </li>
    <li>
<a href="https://wa.me/message/HLZMHRECWAGAK1" target="_blank">  <span>whatsapp</span><span><i class="bi bi-whatsapp" style="background-color:green;color:white"></i></span></a>
    </li>
    <li><a href="https://twitter.com/Temple7447" target="_blank">  
<span>Twitter</span><span><i class="bi bi-twitter" style="background-color:blue;color:white"></i></span></a>
    </li>
    <li>
<a href="www.linkedin.com/in/temple-eferurhobo-voke-7784431b4" target="_blank">  <span>linkedin</span><span><i class="bi bi-linkedin" style="background-color:blue;color:white"></i></span></a>
    </li>
</ul>
 
    </div>

    {{!-- second columb --}}


    {{!-- third columb --}}
 
    </div>

  </footer>
      <div class="" style="text-align: center;">
 <span class="" style="color: rgb(24, 24, 221); font-size:30px;font-weight:700;font-family:'Times New Roman', Times, serif;">TEMPLE'S MEDIA</span>
 <div>
    <h5>You can Contact Us +2347011951761</h5>
    <h5>2021-2022 All Rights Reserved</h5>

 </div>
    </div>


</section>